/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}











/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
  
}


.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */





.header-container,
.footer-container,
.main aside {
    background: #d35400;
}

.title {
    color: white;
    display:inline-block;
    vertical-align: middle;
}

/* ==============
    MOBILE: Menu
   ============== */






/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}



/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**{
    border: solid 1px black;
}*/

.header-container {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 10%;
    text-align: center;




}

.header-container h1{
    font-size: 20px;
    margin: 0px;
    margin-top: 5px;
    width:100%;
    text-align: center;


}

.outgoing {
    float: right;
    background-color: #a3b1b2;

    border-radius: 20px;
    -moz-border-radius: 30px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
}

.incoming {
    float: left;
    color: white;
    background-color: #2c3e50;

    border-radius: 20px;
    -moz-border-radius: 30px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;

}

#msgs{
    position: relative;
    width: 100%;
    height: auto;
    font-family: 'PT Sans', sans-serif;
    padding-top: 80px;
    padding-bottom: 80px;
}



#txtbox{
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 5px;

}
#send{
    
    font-size: 60px;
    color: white;
 
    width:100%;
   

    text-align: center;
    background-color: #34495e;
    border-radius: 10%;
    height: 40px;
    line-height: 40px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color .5s;
 

}
#send:hover {
background-color: #bdc3c7;
cursor: pointer;

}
#sendwrap{
    display: inline-block;
    width: 15%;
    vertical-align:middle;



}

#message {
    margin-left: auto;
    margin-right: auto;
    background-color: #ecf0f1;
    color:#a3b1b2;
    border-radius: 5px;
    -moz-border-radius: 30px;
    
    height: 10%;
    width: 80%;
    vertical-align: middle;

}

.footer-container{
       position:fixed;
   bottom:0;
   width:100%;

}

.title {
    font-family: 'Open Sans', sans-serif;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */




@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */



/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

 
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}